<!--landing page-->
{% extends "base.html" %}
{% block content %}

<h1>Discover Your Next Home</h1>

<!--Hero section-->
<section class = "hero">
    <div class = "hero_overlay"></div>
    <div class = "hero_content">
        <h1 class = "hero_title">Find Your Dream Home in Egypt</h1>
        <p class="hero__subtitle">Thousands of properties across New Cairo, Sheikh Zayed, Maadi and beyond</p>

        <!--Search bar-->
        <form class="hero_form" action="/search" method="GET">
            <div class="hero__inputs">
                <input
                    class="hero__input"
                    type="text"
                    name="area"
                    placeholder="Area (e.g. New Cairo)" 
                    autocomplete="off"
                > <!--capitilization should be fixed later -->

        </form>

    </div>
</section>

<form action="/search" method="GET">
    <input type="text" name="area" placeholder="Area (e.g. New Cairo)">
    <input type="text" name="type" placeholder="Type (e.g. Villa)">
    <input type="number" name="max_price" placeholder="Max Price (EGP)">
    <button type="submit">Search</button>
</form>

<h2>Featured Properties</h2>
<div class="cards">
    {% for prop in properties %}
    <div class="card">
        <img src="{{ prop.image_url }}" alt="{{ prop.title }}">
        <h3>{{ prop.title }}</h3>
        <p>{{ prop.get_summary() }}</p>
        <a href="/property/{{ prop.prop_id }}">View Details</a>
    </div>
    {% endfor %}
</div>

{% endblock %}